page{
    height: 100%;
    background: white;
}

.background-view{
    height: 100%;
    // background: white;
}

.image-box{
    // height: 100vw;
    top: 120px;
    bottom: 320px;
    height: auto;
    display: flex;
    align-items: center;
    width: 100%;
    // position: relative;
    position: fixed;
    background: #f0daaa9a;

}

.template-box{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 90vw;
    display: flex;
    align-items: center;
}

// .white-box{
//     background: rgb(173, 171, 171);
//     margin-left: 5%;
//     margin-right: 5%;
//     width: 90%;
//     height: 90vw;
//     display: flex;
//     align-items: center;
// }

.scroll-box{
    background: #fef2ce;
}

.template-card{
    background:  white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5vw;
    margin-bottom: 5vw;
    // padding-left: 5%;
    // padding-right: 5%;
    box-shadow: 10px 10px 5px #e0e0e0;
    width: 90%;
    height: 90%;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.center{
    width: 100%;
    height: 100vw;
}

.chooseButton-box{
    margin-top: 5%;
    margin-bottom: 0%;
}
.bottom-box{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 5%;
}
.top-box{
    position: fixed;
    top: 0;
    width: 100%;

    // background: white;
}
